# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Seaborn
4. Matplotlib

|Data Science Tools:|
|:-----:|
|Jupiter Notebook|
| R Studio|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python:

+	x + y	Addition
-	x - y	Subtraction
*	x * y	Multiplication

This a simple arithmetic expression to mutiply then add integers:

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

**Objectives:**
- create a jupyter notebook file
- making ordered list in jupyter notebook
- making a single column table in jupyter notebook
- using basic arithmetic expressions

## Author:
József Kancsár